certifi==2024.7.4
charset-normalizer==2.1.1
decorator==5.1.1
geographiclib==2.0
geopy==2.3.0
idna==3.7
pillow==10.3.0
python-dotenv==0.21.0
requests==2.32.2
requests-toolbelt==0.10.1
urllib3==1.26.19
validators==0.21.0
